body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    width: 90%;
    margin: auto;
    text-align: center;
}

html, body { height: 100%;}

html {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

body > footer {
  position: sticky;
  top: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    background-color: #BFD8D5;
    height: 80px;
    font-size: 20px;
}

#appname {
    margin-top: 8px;
    margin-right: 10px;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Pacifico', cursive;;
}

li {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

#intro {
    margin-top: 30px;
    font-size: 30px;
}

#instructions {
    font-size: 20px;
}

#cuisines {
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    width: 600px;
}


#cuisinetype {
    font-size: 18px;
    color: gray;
    background-color: #BFD8D5;
}

#submit {
    color: gray;
    background-color: #BFD8D5;
    border: none;
    height: 30px;
    width: 100px;
    font-size: 18px;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    background-color: #BFD8D5;
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}